.title-bar{
  background-color: $title-bar-bg;
  color: $title-bar-color;
}

.title-bar__content{
  display: flex;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.title-bar__title{
  margin: 0;
}
